*{
    text-decoration: none;
    box-sizing: border-box;
    text-transform: capitalize;
    padding: 0%;
    margin: 0%;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* nav start */
.Nav{
display: flex;
align-items: center;
padding: 10px 40px;
background: rgb(241, 240, 240);

}
.f-nav{
    display: flex;
    align-items: center;
    width: 25%;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
}
.f-nav img{
    width: fit-content;
    height: 60px;
}
.f-nav h3{
    cursor: pointer;
}
.s-nav{
    display: flex;
    justify-content: space-between;
    width: 75%;

}
.s-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 50px;
    list-style: none;
}
.s-nav ul li a{
    font-size: 19x;
    position: relative;
    font-weight: bold;
}
.s-nav ul li a::after{
    content: "";
    position: absolute;
    background-color: rgb(29, 28, 28);
    height: 3px;
    width: 0%;
    right: 0;
    top: 30px;
}

.s-nav ul li a:hover::after{
    width: 100%;
    transition: .8s;

}
.searchInp{
    position: relative;
    width: 25%;
}

#search{
    padding:20px 15px;
    padding-right: 30px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    height: 35px;
    font-size: 15px;
}

.searchInp label{
    position: absolute;
    top: 13px;
    right: 20px;
    cursor: pointer;
}
.bars{
    display: none;
}
#x{
    display: none;
}
.bars img{
    width: 30px;
    height: 30px;
}
#bars-ul{
    height: 90vh;
    display: none;
    list-style: none;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#bars-ul li a{
    font-size: 22px;
    position: relative;
    font-weight: bold;
}
#bars-ul li a:hover{
    opacity: .6;
}
#bars-ul .bug{
    top: 0;
    width: 40px;
}












/* nav end */
/* main start */
.Main{
    height: 100vh;
    position: relative;
}
.bug{
    position: absolute;
    right: 0;
    width: 80px;
    transform: rotate(-135deg);
}
/* main end */
/* footer start */
.Footer{
    height: 40vh;
    background: rgb(235, 235, 235);
}

/* footer end */
@media screen and (max-width: 800px) {
    .Nav{
        justify-content: space-between;
        padding: 10px 20px;
    }
    .f-nav{
        width: 75%;
    }
    .s-nav{
        display: none;
    }
    .bars{
        display: flex;
        cursor: pointer;
    }
    .bug{
        width: 60px;
        transform: rotate(-135deg);  
    }
}
